@model IEnumerable<Dominio.TipoPlanta>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Tipos</h1>
<p>
    <a asp-action="Create">Agregar un tipo nuevo</a>
</p>
@if (Model.Count() != 0)
{

    <form method="post" asp-action="BuscarTipo">
        <div class="form-group row justify-content-center mt-3">
            <div class="input-group mb-2 col col-sm-6">
                <input type="text" class="form-control" name="texto" id='txtSearchType' placeholder="Ingrese búsqueda...">
                <div class="input-group-append">
                    <input class="btn btn-primary" id="btnSearchType" type="submit" value="Buscar">
                </div>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreUnico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionTipo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreUnico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionTipo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdTipoPlanta">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdTipoPlanta">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdTipoPlanta">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p> @ViewBag.Mensaje</p>
}
