@model IEnumerable<Dominio.Planta>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Plantas</h1>
<p>
    <a asp-action="Create">Agregar una planta nueva</a>
</p>
@if (Model.Count() != 0)
{


    <form method="post" asp-action="BuscarPlanta">
        <div class="form-group row justify-content-center mt-3">
            <select name="id" class="form-control col col-sm-3" id="selSearchPlant">
                <option value="">Seleccione...</option>
                <option value="0">Nombre Científico</option>
                <option value="1">Nombre Vulgar</option>
                <option value="2">Tipo</option>
                <option value="3">Ambiente</option>
                <option value="4">Altura menor a:</option>
                <option value="5">Altura mayor a:</option>
            </select>
            <div class="input-group mb-2 col col-sm-6">
                <input type="text" class="form-control" name="texto" id='txtSearchPlant' placeholder="Ingrese búsqueda...">
                <div class="input-group-append">
                    <input class="btn btn-primary" id="btnSearchPlant" type="submit" value="Buscar">
                </div>
            </div>
        </div>
    </form>

    <table class="table" id="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreCientifico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreVulgar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ambiente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlturaMax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiTipoPlanta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCientifico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreVulgar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambiente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlturaMax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Foto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiTipoPlanta.DescripcionTipo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdPlanta">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdPlanta">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdPlanta">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p> @ViewBag.Mensaje</p>
}

